@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',Verdana,sans-serif;
    box-sizing: border-box;
}

.wrapper{
    width: 770px;
    margin: 0 auto;
    padding: 5rem 0;
}

.wrapper button{
    border:none;
    background: #4d4d4d;   
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.wrapper button a{
    text-decoration: none;
    color: #fff;
    transition: all .3s ease-in-out;
}

.wrapper button:hover,
.wrapper button:hover a{
    background: #979797;
    color: #333333;
    transform: translateY(-3px) scale(1.05);
}

.wrapper button:hover a{
    background: none;
}

.wrapper .table-contain{
    margin: 20px auto;
}

.table-contain{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cbcbcb;
}

.table-contain td{
    padding: 10px;
}

.contain{
    margin: auto;
    width: 370px;
    height: auto;
    padding: 5rem 0;
}

.back{
    color: #3a3a3a;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.table-contain thead td{
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #013286;
}

.table-contain tbody tr.ganjil td{
    background: #bcbcbc;
}

.table-contain tbody tr td:last-child{
    text-align: center;
}

.table-contain td{
    color: #292929;
}

.form-wrap{
    margin-top: 10px;
    width: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);
    padding: 25px;
    border-radius: 10px;
}

.form-wrap h2{
    color: #3a3a3a;
}

.wrap{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 10px 0;
}

.wrap label{
    font-size: 12px;
    color: #3a3a3a;
    font-weight: 500;
    margin: 3px 0;
}

.wrap input{
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}

#alamat{
    outline: none;
    resize: none;
    height: 100px;
}

.form-wrap .add-btn{
    margin: 10px 0;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
}

.pagination{
    display: inline-flex;
}

.pagination a{
    text-decoration: none;
    color: #3a3a3a;
    width: 25px;
    text-align: center;
    padding: 0 5px;
    border:1px solid #979797;
    font-size: 15px;
    font-weight: 600;
}

.pagination a.active{
    color:#013286;
}

.link{
    margin: 0 5px;
}

.edit-handle{
    cursor: pointer;
    color: #013286;
    text-decoration: none;
}

.delete-handle{
    cursor: pointer;
    color: #013286;
    text-decoration: none;
}

.wrap-pagination{
    width: 100%;
    text-align: center;
}

.alert{
    position: absolute;
    top: 20px;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 370px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    background: #f305058f;
    text-transform: capitalize;
    border-radius: 10px;
}

.success{
    position: absolute;
    top: 20px;
    border-radius: 10px;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    width: 770px;
    height: 50px;
    background: #40ff2fbb;
}